<a href="https://colab.research.google.com/github/Rossel/DataQuest_Courses/blob/master/031__Transforming_Data_With_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# COURSE 4/6: DATA CLEANING AND ANALYSIS

# MISSION 3: Transforming Data With Pandas

Learn how to transform data with pandas.

## 1. Introduction

In this mission, we'll continue working with the [World Happiness Report](https://www.kaggle.com/unsdsn/world-happiness) and explore another aspect of it that we haven't analyzed yet - the factors that contribute to happiness. As a reminder, the World Happiness Report assigns each country a happiness score based on a poll question that asks respondents to rank their life on a scale of 0 - 10.

You may recall from previous missions that each of the columns below contains the estimated extent to which each factor contributes to the happiness score:

- `Economy (GDP per Capita)`
- `Family`
- `Health (Life Expectancy)`
- `Freedom`
- `Trust (Government Corruption)`
- `Generosity`

Throughout this mission, we'll refer to the columns above as the "factor" columns. We'll work to answer the following question in this mission:

*Which of the factors above contribute the most to the happiness score?*

However, in order to answer this question, we need to manipulate our data into a format that makes it easier to analyze. We'll explore the following functions and methods to perform this task:

- `Series.map()`
- `Series.apply()`
- `DataFrame.applymap()`
- `DataFrame.apply()`
- `pd.melt()`

For teaching purposes, we'll focus just on the 2015 report in this mission. As a reminder, below are the first five rows of the data set:

In [2]:
# Import files directly using Google Colab
# Download the files from the links below:
# World_Happiness_2015.csv: https://drive.google.com/file/d/1iZ8_lHkMx7pI22s4ECfpNHKnOohyPfvU/view?usp=sharing

from google.colab import files
upload = files.upload()

Saving World_Happiness_2015.csv to World_Happiness_2015.csv

In [3]:
# Import pandas and numpy libraries
import pandas as pd
import numpy as np

In [4]:
 # Read the csv files
 happiness2015 = pd.read_csv("World_Happiness_2015.csv")

In [5]:
happiness2015.head()

       Country          Region  ...  Generosity  Dystopia Residual
0  Switzerland  Western Europe  ...     0.29678            2.51738
1      Iceland  Western Europe  ...     0.43630            2.70201
2      Denmark  Western Europe  ...     0.34139            2.49204
3       Norway  Western Europe  ...     0.34699            2.46531
4       Canada   North America  ...     0.45811            2.45176

[5 rows x 12 columns]

Below are descriptions for some of the other columns we'll work with in this mission:

- `Country` - Name of the country
- `Region` - Name of the region the country belongs to
- `Happiness Rank` - The rank of the country, as determined by its happiness score
- `Happiness Score` - A score assigned to each country based on the answers to a poll question that asks respondents to rate their happiness on a scale of 0-10
- `Dystopia Residual`- Represents the extent to which the factors above over or under explain the happiness score. Don't worry too much about this column - you won't need in depth knowledge of it to complete this mission.

Let's start by renaming some of the columns in `happiness2015`.

**Instructions:**

Recall that the 2015 World Happiness Report is saved to a variable named `happiness2015`. We also created a dictionary named `mapping` for renaming columns.

- Use the `DataFrame.rename()` method to change the `'Economy (GDP per Capita)'`, `'Health (Life Expectancy)'`, and `'Trust (Government Corruption)'` column names to the names specified in the `mapping` dictionary.
 - Pass the `mapping` dictionary into the `df.rename()` method and set the axis parameter to `1`.
 - Assign the result back to `happiness2015`.

##2. Apply a Function Element-wise Using the Map and Apply Methods

When we reviewed `happiness2015` in the last screen, you may have noticed that each of the "factor" columns consists of numbers:

In [6]:
happiness2015.head()

       Country          Region  ...  Generosity  Dystopia Residual
0  Switzerland  Western Europe  ...     0.29678            2.51738
1      Iceland  Western Europe  ...     0.43630            2.70201
2      Denmark  Western Europe  ...     0.34139            2.49204
3       Norway  Western Europe  ...     0.34699            2.46531
4       Canada   North America  ...     0.45811            2.45176

[5 rows x 12 columns]

Recall that each number represents the extent to which each factor contributes to the happiness score.

However, not only is this definition a little hard to understand, but it can also be challenging to analyze all of these numbers across multiple columns. Instead, we can first convert these numbers to categories that indicate whether the factor has a high impact on the happiness score or a low impact using the following function:

```
def label(element):
    if element > 1:
        return 'High'
    else:
        return 'Low'
```
Although pandas provides many built-in functions for common data cleaning tasks, in this case, the tranformation we need to perform is so specific to our data that one doesn't exist. Luckily, pandas has a couple methods that can be used to apply a custom function like the one above to our data, starting with the following two methods:

1. `Series.map()` [method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.map.html)
2. `Series.apply()` [method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.apply.html)

Both methods above apply a function element-wise to a column. When we say element-wise, we mean that we pass the function one value in the series at a time and it performs some kind of transformation.

![img](https://s3.amazonaws.com/dq-content/345/Map_generic.svg)

We use the following syntax for both methods:

![img](https://s3.amazonaws.com/dq-content/345/Map_Apply_Syntax.svg)

Note that these methods both take a function as a parameter. Because we're using the function as a parameter, we pass it into the function without the parentheses. For example, if we were working with a function called `transform`, we'd pass it into the `apply()` method as follows:

```
def transform(val):
    return val
Series.apply(transform)
```

Let's compare the two methods in the next exercise.

**Instructions:**

- Use the `Series.map()` method to apply the `label` function to the `Economy` column in `happiness2015`. Assign the result to `economy_impact_map`.
- Use the `Series.apply()` method to apply the function to the `Economy` column. Assign the result to `economy_impact_apply`.
- Use the following code to check if the methods produce the same result: `economy_impact_map.equals(economy_impact_apply)`. Assign the result to a variable named equal.

##3. Apply a Function Element-wise Using the Map and Apply Methods Continued

In the last exercise, we applied a function to the `Economy` column using the `Series.map()` and `Series.apply()` methods and confirmed that both methods produce the same results.

Note that these methods don't modify the original series. If we want to work with the new series in the original dataframe, we must either assign the results back to the original column or create a new column. We recommend creating a new column, in case you need to reference the original values. Let's do that next:

```
def label(element):
    if element > 1:
        return 'High'
    else:
        return 'Low'
happiness2015['Economy Impact'] = happiness2015['Economy'].map(label)
```
Below are the first couple rows of the `Economy` and `Economy Impact` columns.

||Economy |Economy Impact|
|---|---|---|
|0	|1.39651	|High
|1	|1.30232	|High
|2	|1.32548	|High
|3	|1.45900	|High
|4	|1.32629	|High

To create the `Economy Impact` column, `map()` and `apply()` iterate through the `Economy` column and pass each value into the `label` function. The function evaluates which range the value belongs to and assigns the corresponding value to the element in the new column.

![img](https://s3.amazonaws.com/dq-content/345/Map.svg)

Since both `map` and apply can apply functions element-wise to a series, you may be wondering about the difference between them. Let's start by looking at a function with arguments.

In the `label` function, we arbitrarily split the values into 'High' and 'Low'. What if instead we allowed that number to be passed into the function as an argument?

```
def label(element, x):
    if element > x:
        return 'High'
    else:
        return 'Low'
economy_map = happiness2015['Economy'].map(label, x = .8)
```
When we try to apply the function to the `Economy` column with the `map` method, we get an error:
```
TypeError: map() got an unexpected keyword argument 'x'
```
Let's confirm the behavior of the `apply` method next.


**Instructions:**

- Update `label` to take in another argument named `x`. If the `element` is greater than `x`, return 'High'. Otherwise, return 'Low'.
- Then, use the `apply` method to apply `label` to the `Economy` column and set the `x` argument to `0.8`. Save the result back to `economy_impact_apply`.

##4. Apply a Function Element-wise to Multiple Columns Using Applymap Method

We learned in the last screen that we can only use the `Series.apply()` method to apply a function with additional arguments element-wise - the `Series.map()` method will return an error.

So far, we've transformed just one column at a time. If we wanted to transform more than one column, we could use the `Series.map()` or `Series.apply()` method to transform them as follows:

```
def label(element):
    if element > 1:
        return 'High'
    else:
        return 'Low'
happiness2015['Economy Impact'] = happiness2015['Economy'].apply(label)
happiness2015['Health Impact'] = happiness2015['Health'].apply(label)
happiness2015['Family Impact'] = happiness2015['Family'].apply(label)
```

However, it would be easier to just apply the same function to all of the factor columns (`Economy`, `Health`, `Family`, `Freedom`, `Generosity`, `Trust`) at once. Fortunately, however, pandas already has a method that can apply functions element-wise to multiple columns at once - the `DataFrame.applymap()` [method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.applymap.html).

We'll use the following syntax to work with the `df.applymap()` method:
![img](https://s3.amazonaws.com/dq-content/345/Applymap_syntax.svg)

Just like with the `Series.map()` and `Series.apply()` methods, we need to pass the function name into the `df.applymap()` method without parentheses.

Let's practice using the `df.applymap()` method next.

**Instructions:**

We've already created a list named `factors` containing the column names for the six factors that contribute to the happiness score.

- Use the `df.applymap()` method to apply the `label` function to the columns saved in `factors` in `happiness2015`. Assign the result to `factors_impact`.

##5. Apply Functions along an Axis using the Apply Method

In the last exercise, we learned that we can apply a function element-wise to multiple columns using the `df.applymap()` method.

In [ ]:
def label(element):
    if element > 1:
        return 'High'
    else:
        return 'Low'
factors = ['Economy', 'Family', 'Health', 'Freedom', 'Trust', 'Generosity'] 
factors_impact = happiness2015[factors].applymap(label)

In [ ]:
factors_impact.head()

We can see from the results that, according to our definition, the Economy and Family columns had a high impact on the happiness scores of the first five countries.

Let's summarize what we learned so far:

|Method|Series or Dataframe Method|Applies Functions Element-wise?|
|---|---|---|
|Map|Series|Yes|
|Apply|Series|Yes|
|Applymap|Dataframe|Yes|

You can also use the `apply()` method on a dataframe, but the `DataFrame.apply()` [method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html) has different capabilities. Instead of applying functions element-wise, the `df.apply()` method applies functions along an axis, either column-wise or row-wise. When we create a function to use with `df.apply()`, we set it up to accept a series, most commonly a column.

Let's use the `df.apply()` method to calculate the number of 'High' and 'Low' values in each column of the result from the last exercise, `factors_impact`. In order to do so, we'll apply the `pd.value_counts` function to all of the columns in the dataframe:

In [ ]:
factors_impact.apply(pd.value_counts)

Now, we can easily see that the `Family` and `Economy` columns contain the most 'High' values!

When we applied the `pd.value_counts` [function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html) to `factors_impact`, it calculated the value counts for the first column, `Economy`, then the second column, `Family`, so on and so forth:

![img](https://s3.amazonaws.com/dq-content/345/Apply_counts.svg)

##6. Apply Functions along an Axis using the Apply Method Continued

##7. Reshaping Data with the Melt Function

##8. Challenge: Aggregate the Data and Create a Visualization