<a href="https://colab.research.google.com/github/Rossel/DataQuest_Courses/blob/master/038__Data_Cleaning_Walkthrough.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# COURSE 6/6: DATA CLEANING WALKTHROUGH

# MISSION 1: Data Cleaning Walkthrough

Learn how to explore and clean multiple data files.

## 1. Introduction

At many points in your career, you'll need to be able to build complete, end-to-end data science projects on your own. Data science projects usually consist of one of two things:

- An exploration and analysis of a set of data. One example might involve analyzing donors to political campaigns, creating a plot, and then sharing an analysis of the plot with others.
- An operational system that generates predictions based on data that updates continually. An algorithm that pulls in daily stock ticker data and predicts which stock prices will rise and fall would be one example.

You'll find the ability to create data science projects useful in several different contexts:

- Projects will help you build a portfolio, which is critical to finding a job as a data analyst or scientist.
- Working on projects will help you learn new skills and reinforce existing concepts.
- Most "real-world" data science and analysis work consists of developing internal projects.
- Projects allow you to investigate interesting phenomena and satisfy your curiosity.

Whether you aim to become a data scientist or analyst or you're just curious about the world, building projects can be immensely rewarding.

[Here's](https://github.com/dataquestio/loan-prediction) an example of a finished project.

In this mission, we'll walk through the first part of a complete data science project, including how to acquire the raw data. The project will focus on exploring and analyzing a data set. We'll develop our data cleaning and storytelling skills, which will enable us to build complete projects on our own.

We'll focus primarily on data exploration in this mission. We'll also combine several messy data sets into a single clean one to make analysis easier. Over the next few missions, we'll work through the rest of our project and perform the actual analysis.

The first step in creating a project is to decide on a topic. You want the topic to be something you're interested in and motivated to explore. It's very obvious when people are making projects just to make them, rather than out of a genuine interest in the topic.

Here are two ways to go about finding a good topic:

- Think about what sectors or angles you're really interested in, then find data sets relating to those sectors.
- Review several data sets, and find one that seems interesting enough to explore.

Whichever approach you take, you can start your search at these sites:

- [Data.gov](https://www.data.gov/) - A directory of government data downloads
- [/r/datasets](https://reddit.com/r/datasets) - A subreddit that has hundreds of interesting data sets
- [Awesome datasets](https://github.com/caesar0301/awesome-public-datasets) - A list of data sets hosted on GitHub
- [rs.io](http://rs.io/100-interesting-data-sets-for-statistics/) - A great blog post with hundreds of interesting data sets

In real-world data science, you may not find an ideal data set. You might have to aggregate disparate data sources instead, or do a good amount of data cleaning.

For the purposes of this project, we'll be using data about New York City public schools, which can be found [here](https://data.cityofnewyork.us/browse?category=Education).

## 2. Finding All of the Relevant Data Sets

Once you've chosen a topic, you'll want to pick an angle to investigate. It's important to choose an angle that has enough depth to analyze, but isn't so complicated that it's difficult to get started. You want to finish the project, and you want your results to be interesting to others.

One of the most controversial issues in the U.S. educational system is the efficacy of standardized tests, and whether they're unfair to certain groups. Given our prior knowledge of this topic, investigating the correlations between [SAT scores](https://en.wikipedia.org/wiki/SAT) and demographics might be an interesting angle to take. We could correlate SAT scores with factors like race, gender, income, and more.

The SAT, or Scholastic Aptitude Test, is an exam that U.S. high school students take before applying to college. Colleges take the test scores into account when deciding who to admit, so it's fairly important to perform well on it.

The test consists of three sections, each of which has 800 possible points. The combined score is out of 2,400 possible points (while this number has changed a few times, the data set for our project is based on 2,400 total points). Organizations often rank high schools by their average SAT scores. The scores are also considered a measure of overall school district quality.

New York City makes its data [on high school SAT scores](https://data.cityofnewyork.us/Education/SAT-Results/f9bf-2cp4) available online, [as well as the demographics for each high school](https://data.cityofnewyork.us/Education/DOE-High-School-Directory-2014-2015/n3p6-zve2). The first few rows of the SAT data look like this:

![img](https://s3.amazonaws.com/dq-content/sat.png)

Unfortunately, combining both of the data sets won't give us all of the demographic information we want to use. We'll need to supplement our data with other sources to do our full analysis.

The same website has several related data sets covering demographic information and test scores. Here are the links to all of the data sets we'll be using:

- [SAT scores by school](https://data.cityofnewyork.us/Education/SAT-Results/f9bf-2cp4) - SAT scores for each high school in New York City
- [School attendance](https://data.cityofnewyork.us/Education/School-Attendance-and-Enrollment-Statistics-by-Dis/7z8d-msnt) - Attendance information for each school in New York City
- [Class size](https://data.cityofnewyork.us/Education/2010-2011-Class-Size-School-level-detail/urz7-pzb3) - Information on class size for each school
- [AP test results](https://data.cityofnewyork.us/Education/AP-College-Board-2010-School-Level-Results/itfs-ms3e) - Advanced Placement (AP) exam results for each high school (passing an optional AP exam in a particular subject can earn a student college credit in that subject)
- [Graduation outcomes](https://data.cityofnewyork.us/Education/Graduation-Outcomes-Classes-Of-2005-2010-School-Le/vh2h-md7a) - The percentage of students who graduated, and other outcome information
- [Demographics](https://data.cityofnewyork.us/Education/School-Demographics-and-Accountability-Snapshot-20/ihfw-zy9j) - Demographic information for each school
- [School survey](https://data.cityofnewyork.us/Education/NYC-School-Survey-2011/mnz3-dyi8) - Surveys of parents, teachers, and students at each school

All of these data sets are interrelated. We'll need to combine them into a single data set before we can find correlations.

## 3. Finding Background Information

Before we move into coding, we'll need to do some background research. A thorough understanding of the data will help us avoid costly mistakes, such as thinking that a column represents something other than what it does. Background research will also give us a better understanding of how to combine and analyze the data.

In this case, we'll want to research:

- [New York City](https://en.wikipedia.org/wiki/New_York_City)
- [The SAT](https://en.wikipedia.org/wiki/SAT)
- [Schools in New York City](https://en.wikipedia.org/wiki/List_of_high_schools_in_New_York_City)
- [Our data](https://data.cityofnewyork.us/browse?category=Education)

We can learn a few different things from these resources. For example:

- Only high school students take the SAT, so we'll want to focus on high schools.
- New York City is made up of five boroughs, which are essentially distinct regions.
- New York City schools fall within several different school districts, each of which can contains dozens of schools.
- Our data sets include several different types of schools. We'll need to clean them so that we can focus on high schools only.
- Each school in New York City has a unique code called a `DBN`, or district borough number.
- Aggregating data by district will allow us to use the district mapping data to plot district-by-district differences.

## 4. Reading in the Data

Once we've done our background research, we're ready to read in the data. For your convenience, we've placed all the data into the `schools` folder. Here are all of the files in the folder:

- `ap_2010.csv` - Data on [AP test results](https://data.cityofnewyork.us/Education/AP-College-Board-2010-School-Level-Results/itfs-ms3e)
- `class_size.csv` - Data on [class size](https://data.cityofnewyork.us/Education/2010-2011-Class-Size-School-level-detail/urz7-pzb3)
- `demographics.csv` - Data on [demographics](https://data.cityofnewyork.us/Education/School-Demographics-and-Accountability-Snapshot-20/ihfw-zy9j)
- `graduation.csv` - Data on [graduation outcomes](https://data.cityofnewyork.us/Education/Graduation-Outcomes-Classes-Of-2005-2010-School-Le/vh2h-md7a)
- `hs_directory.csv` - A directory of [high schools](https://data.cityofnewyork.us/Education/DOE-High-School-Directory-2014-2015/n3p6-zve2)
- `sat_results.csv` - Data on [SAT scores](https://data.cityofnewyork.us/Education/SAT-Results/f9bf-2cp4)
- `survey_all.txt` - Data on [surveys](https://data.cityofnewyork.us/Education/NYC-School-Survey-2011/mnz3-dyi8) from all schools
- `survey_d75.txt` - Data on [surveys](https://data.cityofnewyork.us/Education/NYC-School-Survey-2011/mnz3-dyi8) from New York City [district 75](http://schools.nyc.gov/academics/specialEducation/D75/default.htm)

`survey_all.txt` and `survey_d75.txt` are in more complicated formats than the other files. For now, we'll focus on reading in the `CSV` files only, and then explore them.

We'll read each file into a [pandas dataframe](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html), and then store all of the dataframes in a dictionary. This will give us a convenient way to store them, and a quick way to reference them later on.
instructions

In [ ]:
# Download the files from the links below:
# "ap_2010.csv": https://drive.google.com/file/d/1KuI49etwQLsPS67JbVv4JPBcqPAh0bPe/view?usp=sharing
# 'class_size.csv': https://drive.google.com/file/d/1KuI49etwQLsPS67JbVv4JPBcqPAh0bPe/view?usp=sharing
# 'demographics.csv': https://drive.google.com/file/d/1gsKvOdzOBl2gllcOycsTRIv6n5q_uyjU/view?usp=sharing
# 'graduation.csv': https://drive.google.com/file/d/1EA4qZSFxAtnkiA0XeZuhFuIUoRnd844H/view?usp=sharing
# 'hs_directory.csv': https://drive.google.com/file/d/1JkSe5aOrSbBonyeY_1cbv2HQi_K27YnR/view?usp=sharing
# 'sat_results.csv': https://drive.google.com/file/d/1ccb_BgcwfoBveOQQ7iqvRPuDvqP3BQFt/view?usp=sharing
# 'survey_all.txt': https://drive.google.com/file/d/1f1czoKEPHDtyM7u6Kr6FJbNOPZfy4rD6/view?usp=sharing
# 'survey_d75.txt': https://drive.google.com/file/d/1HZMJ3JYHDFZcv6sDSMqP2_CElIU_e5UX/view?usp=sharing

In [ ]:
# Import files directly using Google Colab
from google.colab import files
upload = files.upload()
upload = files.upload()
upload = files.upload()
upload = files.upload()
upload = files.upload()
upload = files.upload()
upload = files.upload()
upload = files.upload()

Saving ap_2010.csv to ap_2010.csv

Saving class_size.csv to class_size.csv

Saving demographics.csv to demographics.csv

Saving graduation.csv to graduation.csv

Saving hs_directory.csv to hs_directory.csv

Saving sat_results.csv to sat_results.csv

Saving survey_all.txt to survey_all.txt

Saving survey_d75.txt to survey_d75.txt

**Instructions:**

- Read each of the files in the list `data_files` into a pandas dataframe using the [pandas.read_csv()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) function.
 - Recall that all of the data sets are in the `schools` folder. That means the path to `ap_2010.csv` is `schools/ap_2010.csv`.
- Add each of the dataframes to the dictionary `data`, using the base of the filename as the key. For example, you'd enter `ap_2010` for the file `ap_2010.csv`.
- Afterwards, `data` should have the following keys:
 - `ap_2010`
 - `class_size`
 - `demographics`
 - `graduation`
 - `hs_directory`
 - `sat_results`
- In addition, each key in `data` should have the corresponding dataframe as its value.

In [ ]:
# Provided code:
import pandas as pd
data_files = [
    "ap_2010.csv",
    "class_size.csv",
    "demographics.csv",
    "graduation.csv",
    "hs_directory.csv",
    "sat_results.csv"
]
data = {}

In [ ]:
# Solution
for f in data_files:
    d = pd.read_csv("{0}".format(f))
    key_name = f.replace(".csv", "")
    data[key_name] = d

## 5. Exploring the SAT Data

What we're mainly interested in is the SAT data set, which corresponds to the dictionary key `sat_results`. This data set contains the SAT scores for each high school in New York City. We eventually want to correlate selected information from this data set with information in the other data sets.

Let's explore `sat_results` to see what we can discover. Exploring the dataframe will help us understand the structure of the data, and make it easier for us to analyze it.

**Instructions:**

Display the first five rows of the SAT scores data.
 - Use the key `sat_results` to access the SAT scores dataframe stored in the dictionary `data`.
 - Use the [pandas.DataFrame.head()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.head.html) method along with the [print()](https://docs.python.org/3/library/functions.html#print) function to display the first five rows of the dataframe.

In [ ]:
# Solution
print(data["sat_results"].head())

      DBN  ... SAT Writing Avg. Score
0  01M292  ...                    363
1  01M448  ...                    366
2  01M450  ...                    370
3  01M458  ...                    359
4  01M509  ...                    384

[5 rows x 6 columns]

## 6. Exploring the Remaining Data

We can make a few observations based on this output:

- The `DBN` appears to be a unique ID for each school.
- We can tell from the first few rows of names that we only have data about high schools.
- There's only a single row for each high school, so each `DBN` is unique in the SAT data.
- We may eventually want to combine the three columns that contain SAT scores -- `SAT Critical Reading Avg. Score`, `SAT Math Avg. Score`, and `SAT Writing Avg. Score` -- into a single column to make the scores easier to analyze.

Given these observations, let's explore the other data sets to see if we can gain any insight into how to combine them.

**Instructions:**

Loop through each key in `data`. For each key:
 - Display the first five rows of the dataframe associated with the key.

In [ ]:
# Solution

for k in data:
    print(data[k].head())

      DBN  ... Number of Exams with scores 3 4 or 5
0  01M448  ...                                 10.0
1  01M450  ...                                  NaN
2  01M515  ...                                 24.0
3  01M539  ...                                191.0
4  02M296  ...                                  NaN

[5 rows x 5 columns]
   CSD BOROUGH  ... DATA SOURCE SCHOOLWIDE PUPIL-TEACHER RATIO
0    1       M  ...         ATS                            NaN
1    1       M  ...         ATS                            NaN
2    1       M  ...         ATS                            NaN
3    1       M  ...         ATS                            NaN
4    1       M  ...         ATS                            NaN

[5 rows x 16 columns]
      DBN                       Name  ...  female_num female_per
0  01M015  P.S. 015 ROBERTO CLEMENTE  ...       123.0       43.8
1  01M015  P.S. 015 ROBERTO CLEMENTE  ...       103.0       42.4
2  01M015  P.S. 015 ROBERTO CLEMENTE  ...       118.0       45.2
3  01M015  P.S. 015 ROBERTO CLEMENTE  ...       103.0       40.9
4  01M015  P.S. 015 ROBERTO CLEMENTE  ...        84.0       40.4

[5 rows x 38 columns]
    Demographic     DBN  ... Dropped Out - n Dropped Out - % of cohort
0  Total Cohort  01M292  ...               s                       NaN
1  Total Cohort  01M292  ...               3                       5.5
2  Total Cohort  01M292  ...               9                      14.1
3  Total Cohort  01M292  ...              11                      14.1
4  Total Cohort  01M292  ...              11                      14.1

[5 rows x 23 columns]
      dbn  ...                                                NTA
0  27Q260  ...  Far Rockaway-Bayswater                        ...
1  21K559  ...  Gravesend                                     ...
2  16K393  ...  Stuyvesant Heights                            ...
3  08X305  ...  Soundview-Castle Hill-Clason Point-Harding Par...
4  03M485  ...  Lincoln Square                                ...

[5 rows x 64 columns]
      DBN  ... SAT Writing Avg. Score
0  01M292  ...                    363
1  01M448  ...                    366
2  01M450  ...                    370
3  01M458  ...                    359
4  01M509  ...                    384

[5 rows x 6 columns]

## 7. Reading in the Survey Data



We can make some observations based on the first few rows of each one.

- Each data set appears to either have a `DBN` column, or the information we need to create one. That means we can use a `DBN` column to combine the data sets. First we'll pinpoint matching rows from different data sets by looking for identical `DBN`s, then group all of their columns together in a single data set.
- Some fields look interesting for mapping -- particularly `Location 1`, which contains coordinates inside a larger string.
- Some of the data sets appear to contain multiple rows for each school (because the rows have duplicate `DBN` values). That means weâ€™ll have to do some preprocessing to ensure that each `DBN` is unique within each data set. If we don't do this, we'll run into problems when we combine the data sets, because we might be merging two rows in one data set with one row in another data set.

Before we proceed with the merge, we should make sure we have all of the data we want to unify. We mentioned the survey data earlier (`survey_all.txt` and `survey_d75.txt`), but we didn't read those files in because they're in a slightly more complex format.

```
dbn bn  schoolname  d75 studentssurveyed    highschool  schooltype  rr_s
"01M015"    "M015"  "P.S. 015 Roberto Clemente" 0   "No"    0   "Elementary School"     88
```

The files are *tab delimited* and encoded with `Windows-1252` encoding. An encoding defines how a computer stores the contents of a file in binary. The most common encodings are `UTF-8` and `ASCII`. `Windows-1252` is rarely used, and can cause errors if we read such a file in without specifying the encoding. If you'd like to read more about encodings, [here's](http://kunststube.net/encoding/) a good primer.

We'll need to specify the encoding and delimiter to the pandas [pandas.read_csv()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) function to ensure it reads the surveys in properly.

After we read in the survey data, we'll want to combine it into a single dataframe. We can do this by calling the [pandas.concat()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html) function:

```
z = pd.concat([x,y], axis=0)
```
The code above will combine dataframes `x` and `y` by essentially appending `y` to the end of `x`. The combined dataframe `z` will have the number of rows in `x` plus the number of rows in `y`.

## 8. Reading in the Survey Data

**Instructions:**

Read in `survey_all.txt`.
- Use the [`pandas.read_csv()`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) function to read `survey_all.txt` into the variable `all_survey`. Recall that this file is located in the `schools` folder.
 - Specify the keyword argument `delimiter="\t"`.
 - Specify the keyword argument `encoding="windows-1252"`.

Read in `survey_d75.txt`.
 - Use the `pandas.read_csv()` function to read `schools/survey_d75.txt` into the variable `d75_survey`. Recall that this file is located in the `schools` folder.
  - Specify the keyword argument `delimiter="\t"`.
- Specify the keyword argument `encoding="windows-1252"`.

Combine `d75_survey` and `all_survey` into a single dataframe.
 - Use the pandas [`concat()`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html) function with the keyword argument `axis=0` to combine `d75_survey` and `all_survey` into the dataframe `survey`.
 - Pass in `all_survey` first, then `d75_survey` when calling the `pandas.concat()` function.

Display the first five rows of `survey` using the [pandas.DataFrame.head()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.head.html) function.

In [ ]:
# Solution

all_survey = pd.read_csv("survey_all.txt", delimiter="\t", encoding='windows-1252')
d75_survey = pd.read_csv("survey_d75.txt", delimiter="\t", encoding='windows-1252')
survey = pd.concat([all_survey, d75_survey], axis=0)

print(survey.head())

      dbn    bn                      schoolname  ...  s_q14_9 s_q14_10  s_q14_11
0  01M015  M015       P.S. 015 Roberto Clemente  ...      NaN      NaN       NaN
1  01M019  M019             P.S. 019 Asher Levy  ...      NaN      NaN       NaN
2  01M020  M020            P.S. 020 Anna Silver  ...      NaN      NaN       NaN
3  01M034  M034  P.S. 034 Franklin D. Roosevelt  ...      NaN      NaN       NaN
4  01M063  M063       P.S. 063 William McKinley  ...      NaN      NaN       NaN

[5 rows x 2773 columns]

## 9. Cleaning Up the Surveys

There are two immediate facts that we can see in the data:

- There are over `2000` columns, nearly all of which we don't need. We'll have to filter the data to remove the unnecessary ones. Working with fewer columns will make it easier to print the dataframe out and find correlations within it.
- The survey data has a `dbn` column that we'll want to convert to uppercase (`DBN`). The conversion will make the column name consistent with the other data sets.

First, we'll need to filter the columns to remove the ones we don't need. Luckily, there's a data dictionary at the [original data download location](https://data.cityofnewyork.us/Education/NYC-School-Survey-2011/mnz3-dyi8). The dictionary tells us what each column represents. Based on our knowledge of the problem and the analysis we're trying to do, we can use the data dictionary to determine which columns to use.

Here's a preview of the data dictionary:
![img](https://s3.amazonaws.com/dq-content/xj5ud4r.png)

Based on the dictionary, it looks like these are the relevant columns:

```
["dbn", "rr_s", "rr_t", "rr_p", "N_s", "N_t", "N_p", "saf_p_11", "com_p_11", "eng_p_11", "aca_p_11", "saf_t_11", "com_t_11", "eng_t_11", "aca_t_11", "saf_s_11", "com_s_11", "eng_s_11", "aca_s_11", "saf_tot_11", "com_tot_11", "eng_tot_11", "aca_tot_11"]
```

These columns will give us aggregate survey data about how parents, teachers, and students feel about school safety, academic performance, and more. It will also give us the `DBN`, which allows us to uniquely identify the school.

Before we filter columns out, we'll want to copy the data from the `dbn` column into a new column called `DBN`. We can copy columns like this:

```
survey["new_column"] = survey["old_column"]
```

**Instructions:**

- Copy the data from the `dbn` column of `survey` into a new column in `survey` called `DBN`.
- Filter `survey` so it only contains the columns we listed above. You can do this using [pandas.DataFrame.loc[]](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html).
 - Remember that we renamed `dbn` to `DBN`; be sure to change the list of columns we want to keep accordingly.
- Assign the dataframe `survey` to the key `survey` in the dictionary `data`.
- When you're finished, the value in `data["survey"]` should be a dataframe with `23` columns and `1702` rows.

In [ ]:
# Answer

survey["DBN"] = survey["dbn"]

survey_fields = [
    "DBN", 
    "rr_s", 
    "rr_t", 
    "rr_p", 
    "N_s", 
    "N_t", 
    "N_p", 
    "saf_p_11", 
    "com_p_11", 
    "eng_p_11", 
    "aca_p_11", 
    "saf_t_11", 
    "com_t_11", 
    "eng_t_11", 
    "aca_t_11", 
    "saf_s_11", 
    "com_s_11", 
    "eng_s_11", 
    "aca_s_11", 
    "saf_tot_11", 
    "com_tot_11", 
    "eng_tot_11", 
    "aca_tot_11",
]
survey = survey.loc[:,survey_fields]
data["survey"] = survey

print(survey.head())

      DBN  rr_s  rr_t  rr_p  ...  saf_tot_11  com_tot_11  eng_tot_11  aca_tot_11
0  01M015   NaN    88    60  ...         8.0         7.7         7.5         7.9
1  01M019   NaN   100    60  ...         8.5         8.1         8.2         8.4
2  01M020   NaN    88    73  ...         8.2         7.3         7.5         8.0
3  01M034  89.0    73    50  ...         7.3         6.7         7.1         7.9
4  01M063   NaN   100    60  ...         8.5         7.6         7.9         8.0

[5 rows x 23 columns]

## 10. Inserting DBN Fields

When we explored all of the data sets, we noticed that some of them, like `class_size` and `hs_directory`, don't have a `DBN` column. `hs_directory` does have a `dbn` column, though, so we can just rename it.

However, `class_size` doesn't appear to have the column at all. Here are the first few rows of the data set:
```
CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
```

Here are the first few rows of the `sat_results` data, which does have a `DBN` column:
```
DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
```

From looking at these rows, we can tell that the `DBN` in the `sat_results` data is just a combination of the `CSD` and `SCHOOL CODE` columns in the `class_size` data. The main difference is that the `DBN` is padded, so that the `CSD` portion of it always consists of two digits. That means we'll need to add a leading `0` to the `CSD` if the `CSD` is less than two digits long. Here's a diagram illustrating what we need to do:

|CSD | Padded CSD|
|---|---|
|1|01|
|19|19|
|2|02|
|99|99|

As you can see, whenever the `CSD` is less than two digits long, we need to add a leading `0`. We can accomplish this using the [pandas.Series.apply()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html) method, along with a custom function that:

- Takes in a number.
- Converts the number to a string using the [str()](https://docs.python.org/3/library/stdtypes.html#str) function.
- Check the length of the string using the [len()](https://docs.python.org/3/library/functions.html#len) function.
 - If the string is two digits long, returns the string.
 - If the string is one digit long, adds a `0` to the front of the string, then returns it.
 > You can use the string method [zfill()](https://docs.python.org/3/library/stdtypes.html#str.zfill) to do this.

Once we've padded the `CSD`, we can use the addition operator (`+`) to combine the values in the `CSD` and `SCHOOL CODE` columns. Here's an example of how we would do this:
```
dataframe["new_column"] = dataframe["column_one"] + dataframe["column_two"]
```
And here's a diagram illustrating the basic concept:

|CSD | Padded CSD|
|---|---|
|1|01|
|19|19|
|2|02|
|99|99|

+

|School Code|
|---|
|M015|
|M022|
|M016|
|M025|

=

|DBN|
|---|
|01M015|
|19M022|
|02M016|
|99M025|

## 11. Inserting DBN Fields

- Copy the `dbn` column in `hs_directory` into a new column called `DBN`.

- Create a new column called `padded_csd` in the `class_size` data set.
 - Use the [pandas.Series.apply()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html) method along with a custom function to generate this column.
  - Make sure to apply the function along the `data["class_size"]["CSD"]` column.

- Use the addition operator (`+`) along with the `padded_csd` and `SCHOOL CODE` columns of `class_size`, then assign the result to the `DBN` column of `class_size`.

- Display the first few rows of `class_size` to double check the `DBN` column.

In [ ]:
# Solution

data["hs_directory"]["DBN"] = data["hs_directory"]["dbn"]

def pad_csd(num):
    return str(num).zfill(2)
    
data["class_size"]["padded_csd"] = data["class_size"]["CSD"].apply(pad_csd)
data["class_size"]["DBN"] = data["class_size"]["padded_csd"] + data["class_size"]["SCHOOL CODE"]
print(data["class_size"].head())

## 12. Combining the SAT Scores

Now we're almost ready to combine our data sets. Before we do, let's take some time to calculate variables that will be useful in our analysis. We've already discussed one such variable -- a column that totals up the SAT scores for the different sections of the exam. This will make it much easier to correlate scores with demographic factors because we'll be working with a single number, rather than three different ones.

Before we can generate this column, we'll need to convert the `SAT Math Avg. Score`, `SAT Critical Reading Avg. Score`, and `SAT Writing Avg. Score` columns in the `sat_results` data set from the object (string) data type to a numeric data type. We can use the [pandas.to_numeric()](http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.to_numeric.html) method for the conversion. If we don't convert the values, we won't be able to add the columns together.

It's important to pass the keyword argument `errors="coerce"` when we call `pandas.to_numeric()`, so that pandas treats any invalid strings it can't convert to numbers as missing values instead.

After we perform the conversion, we can use the addition operator (`+`) to add all three columns together.

**Instructions:**

- Convert the `SAT Math Avg. Score`, `SAT Critical Reading Avg. Score`, and `SAT Writing Avg. Score` columns in the `sat_results` data set from the object (string) data type to a numeric data type.
 - Use the [pandas.to_numeric()](http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.to_numeric.html) function on each of the columns, and assign the result back to the same column.
 - Pass in the keyword argument `errors="coerce"`.
- Create a column called `sat_score` in `sat_results` that holds the combined SAT score for each student.
 - Add up `SAT Math Avg. Score`, `SAT Critical Reading Avg. Score`, and `SAT Writing Avg. Score`, and assign the total to the `sat_score` column of `sat_results`.
- Display the first few rows of the `sat_score` column of `sat_results` to verify that everything went okay.

In [ ]:
# Solution

cols = ['SAT Math Avg. Score', 'SAT Critical Reading Avg. Score', 'SAT Writing Avg. Score']
for c in cols:
    data["sat_results"][c] = pd.to_numeric(data["sat_results"][c], errors="coerce")

data['sat_results']['sat_score'] = data['sat_results'][cols[0]] + data['sat_results'][cols[1]] + data['sat_results'][cols[2]]
print(data['sat_results']['sat_score'].head())

## 13. Parsing Geographic Coordinates for Schools

Next, we'll want to parse the latitude and longitude coordinates for each school. This will enable us to map the schools and uncover any geographic patterns in the data. The coordinates are currently in the text field `Location 1` in the `hs_directory` data set.

Let's take a look at the first few rows:

```
0    883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...
1    1110 Boston Road\nBronx, NY 10456\n(40.8276026...
2    1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...
3    411 Pearl Street\nNew York, NY 10038\n(40.7106...
4    160-20 Goethals Avenue\nJamaica, NY 11432\n(40...
```

As you can see, this field contains a lot of information we don't need. We want to extract the coordinates, which are in parentheses at the end of the field. Here's an example:
```
1110 Boston Road\nBronx, NY 10456\n(40.8276026690005, -73.90447525699966)
```

We want to extract the latitude, `40.8276026690005`, and the longitude, `-73.90447525699966`. Taken together, latitude and longitude make up a pair of coordinates that allows us to pinpoint any location on Earth.

We can do the extraction with a regular expression. The following expression will pull out everything inside the parentheses:

In [ ]:
import re
re.findall("\(.+\)", "1110 Boston Road\nBronx, NY 10456\n(40.8276026690005, -73.90447525699966)")

['(40.8276026690005, -73.90447525699966)']

This command returns `[(40.8276026690005, -73.90447525699966)]`. We'll need to process this result further using the string methods [split()](https://docs.python.org/3/library/stdtypes.html#str.split) and [replace()](https://docs.python.org/3/library/stdtypes.html#str.replace) methods to extract each coordinate.

**Instructions:**

- Write a function that:
 - Takes in a string
 - Uses the regular expression above to extract the coordinates
 - Uses string manipulation functions to pull out the latitude
 - Returns the latitude
- Use the [Series.apply()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html) method to apply the function across the `Location 1` column of `hs_directory`. Assign the result to the `lat` column of `hs_directory`.
- Display the first few rows of `hs_directory` to verify the results.

In [ ]:
# Provided code:
import re

In [ ]:
# Answer

def find_lat(loc):
    coords = re.findall("\(.+\)", loc)
    lat = coords[0].split(",")[0].replace("(", "")
    return lat

data["hs_directory"]["lat"] = data["hs_directory"]["Location 1"].apply(find_lat)

print(data["hs_directory"].head())

## 14. Extracting the Longitude

On the last screen, we parsed the latitude from the `Location 1` column. Now we'll just need to do the same for the longitude.

Once we have both coordinates, we'll need to convert them to numeric values. We can use the `pandas.to_numeric()` function to convert them from strings to numbers.

**Instructions:**

- Write a function that:
 - Takes in a string.
 - Uses the regular expression on the previous screen to extract the coordinates.
 - Uses string manipulation functions to pull out the longitude.
 - Returns the longitude.
- Use the [Series.apply()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html) method to apply the function across the `Location 1` column of `hs_directory`. Assign the result to the `lon` column of `hs_directory`.
- Use the [to_numeric()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html) function to convert the `lat` and `lon` columns of `hs_directory` to numbers.
 - Specify the `errors="coerce"` keyword argument to handle missing values properly.
- Display the first few rows of `hs_directory` to verify the results.